body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 250px;
}

h1, h3 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.divs {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    color: black;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.divs:hover {
    color: #fff;
    font-size: 20px;
    transition: 4s;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    body {
        margin-top: 20px;
    }

    .container {
        flex-direction: column;
    }

    .divs {
        font-size: 20px;
    }
}
